@model NominaAPEC.Models.TipoIngreso

@{
    ViewData["Title"] = "Editar Tipo de Ingreso";
}

<h2>@ViewData["Title"]</h2>

<div class="card mt-3">
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group form-check mt-3">
                <input class="form-check-input" asp-for="DependeDeSalario" />
                <label class="form-check-label" asp-for="DependeDeSalario">Depende del Salario</label>
            </div>

            <div class="form-group form-check mt-2">
                <input class="form-check-input" asp-for="Estado" />
                <label class="form-check-label" asp-for="Estado">Activo</label>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>
